* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

:root {
  /* Primary */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  /* Font: */
  --main-font: "Poppins", sans-serif;
}

/* Desktop */

body {
  background-color: var(--light-grey);
}

.container_section {
  background-color: white;
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 180px;
  padding: 5px;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.container_forms {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

h1 {
  color: var(--smoke-grey);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

input {
  width: 120px;
  height: 50px;
  border-radius: 10%;
  background-color: var(--off-white);
  padding-left: 15px;
  font-size: 21px;
  font-weight: 700;
  color: var(--smoke-grey);
}

/* Mobile */

@media screen and (max-width: 395px) {
}
