* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

:root {
  /* Primary */
  --purple: hsl(259, 49%, 51%);
  --light-red: hsl(0, 100%, 67%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  /* Font: */
  --main-font: "Poppins", sans-serif;
}

/* Desktop */

body {
  background-color: var(--light-grey);
}

.container_section {
  background-color: white;
  width: 45vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 330px;
  padding: 5px;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.container_forms {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 25px;
  margin-top: 5px;
}

h1 {
  color: var(--smoke-grey);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}

input {
  width: 120px;
  height: 50px;
  border-radius: 10%;
  background-color: var(--off-white);
  padding-left: 15px;
  font-size: 21px;
  font-weight: 700;
  color: var(--smoke-grey);
  margin-left: 10px;
}

.container_symbol {
  display: flex;
  justify-content: end;
  padding: 5px;
  margin-right: 10px;
  padding-right: 20px;
}

.container_line {
  background-color: var(--smoke-grey);
  height: 1px;
  align-self: center;
  width: 480px;
}

button {
  padding-top: 5px;
  border-style: none;
  background-color: white;
}

svg {
  width: 60px;
  height: 60px;
  background-color: var(--purple);
  border-radius: 50%;
  padding: 15px;
}

span {
  color: var(--purple);
  font-size: 46px;
  font-weight: 800px;
  margin-right: 10px;
  margin-left: 40px;
}

p {
  margin-right: 5px;
  color: black;
  font-size: 60px;
  font-weight: 800px;
  height: 70px;
}

/* Mobile */

@media screen and (max-width: 395px) {
}
